"*":
  editor:
    invisibles: {}
    fontFamily: "Source Code Pro"
    fontSize: 14
    showIndentGuide: true
    lineHeight: 1.4
    softTabs: false
  core:
    themes: [
      "unity-ui"
      "solarized-light-syntax"
    ]
  "exception-reporting":
    userId: "20dc8c60-9a4a-ae6a-17fe-f3203e596321"
  welcome:
    showOnStartup: false
  linter: {}
  "linter-pylama": {}
  "linter-htmlhint": {}
